<div class="container mt-5">
  <div class="row justify-content-center">
    <% @posts.each do |post| %>
      <div class="col-md-8 mb-4">
        <div class="card">
          <div class="row no-gutters">
            <div class="col-md-6 mt-2">
              <% if post.pimg.attached? %>
                <center>
                <div>
                  <%= image_tag post.pimg, class: "card-img", style: "margin-left: 10px;" %>
                </div>
                </center>
              <% end %>
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <h5 class="card-title"><%= post.title %></h5>
                <p class="card-text"><%= post.des %></p>
              </div>
            </div>
          </div>
          <div class="card-body">
          
            <h2>Add a comment:</h2>
              <%= render partial: 'comments/form', locals: {post: post, parent_comment: nil } %>
          </div>
          <div class="card-body">
            <h2>Comments</h2>
            <%= render partial: 'comments/comment', locals: { comments: post.comments, post: post  } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
